@keyframes fade-in {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }

  @keyframes fade-out {
	from {
	  opacity: 1;
	}
	to {
	  opacity: 0;
	}
  }

  @keyframes left {
	0% {
	  -webkit-transform: rotate(0deg);
	}
	100% {
	  transform: rotate(180deg);
	}
  }
  @-webkit-keyframes left {
	0% {
	  -webkit-transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(180deg);
	}
  }

  @keyframes right {
	0% {
	  -webkit-transform: rotate(0deg);
	}
	100% {
	  transform: rotate(180deg);
	}
  }
  @-webkit-keyframes right {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(180deg);
	}
  }

  @-webkit-keyframes float {
	from {
	  -webkit-transform: translateY(0);
	  transform: translateY(0);
	}
	50% {
	  -webkit-transform: translateY(-10px);
	  transform: translateY(-10px);
	}
	to {
	  -webkit-transform: translateY(0);
	  transform: translateY(0);
	}
  }
  @-moz-keyframes float {
	from {
	  -moz-transform: translateY(0);
	  transform: translateY(0);
	}
	50% {
	  -moz-transform: translateY(-10px);
	  transform: translateY(-10px);
	}
	to {
	  -moz-transform: translateY(0);
	  transform: translateY(0);
	}
  }
  @keyframes float {
	from {
	  -webkit-transform: translateY(0);
	  -moz-transform: translateY(0);
	  transform: translateY(0);
	}
	50% {
	  -webkit-transform: translateY(-10px);
	  -moz-transform: translateY(-10px);
	  transform: translateY(-10px);
	}
	to {
	  -webkit-transform: translateY(0);
	  -moz-transform: translateY(0);
	  transform: translateY(0);
	}
  }
