@font-face {
    font-family: 'GilSansMedium';
    src: url('/static/fonts/GillSansMTPro-Medium.woff2') format('woff2'),
        url('/static/fonts/GillSansMTPro-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GilSansLight';
    src: url('/static/fonts/GillSansMTPro-Light.woff2') format('woff2'),
        url('/static/fonts/GillSansMTPro-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KoPubBatangPM';
    src: url('/static/fonts/KoPubBatangPM.eot');
    src: url('/static/fonts/KoPubBatangPM.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/KoPubBatangPM.woff2') format('woff2'),
        url('/static/fonts/KoPubBatangPM.woff') format('woff'),
        url('/static/fonts/KoPubBatangPM.ttf') format('truetype'),
        url('/static/fonts/KoPubBatangPM.svg#KoPubBatangPM') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KoPubBatangPB';
    src: url('/static/fonts/KoPubBatangPB.eot');
    src: url('/static/fonts/KoPubBatangPB.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/KoPubBatangPB.woff2') format('woff2'),
        url('/static/fonts/KoPubBatangPB.woff') format('woff'),
        url('/static/fonts/KoPubBatangPB.ttf') format('truetype'),
        url('/static/fonts/KoPubBatangPB.svg#KoPubBatangPB') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KoPubBatangPL';
    src: url('/static/fonts/KoPubBatangPL.eot');
    src: url('/static/fonts/KoPubBatangPL.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/KoPubBatangPL.woff2') format('woff2'),
        url('/static/fonts/KoPubBatangPL.woff') format('woff'),
        url('/static/fonts/KoPubBatangPL.ttf') format('truetype'),
        url('/static/fonts/KoPubBatangPL.svg#KoPubBatangPL') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KoPubDotumPL';
    src: url('/static/fonts/KoPubDotumPL.eot');
    src: url('/static/fonts/KoPubDotumPL.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/KoPubDotumPL.woff2') format('woff2'),
        url('/static/fonts/KoPubDotumPL.woff') format('woff'),
        url('/static/fonts/KoPubDotumPL.ttf') format('truetype'),
        url('/static/fonts/KoPubDotumPL.svg#KoPubDotumPL') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KoPubDotumPB';
    src: url('/static/fonts/KoPubDotumPB.eot');
    src: url('/static/fonts/KoPubDotumPB.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/KoPubDotumPB.woff2') format('woff2'),
        url('/static/fonts/KoPubDotumPB.woff') format('woff'),
        url('/static/fonts/KoPubDotumPB.ttf') format('truetype'),
        url('/static/fonts/KoPubDotumPB.svg#KoPubDotumPB') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KoPubDotumPM';
    src: url('/static/fonts/KoPubDotumPM.eot');
    src: url('/static/fonts/KoPubDotumPM.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/KoPubDotumPM.woff2') format('woff2'),
        url('/static/fonts/KoPubDotumPM.woff') format('woff'),
        url('/static/fonts/KoPubDotumPM.ttf') format('truetype'),
        url('/static/fonts/KoPubDotumPM.svg#KoPubDotumPM') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

