* {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */

}

*::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

body{
	width: 100vw;
	height: 100vh;
	min-width: 100vw;
	/* background-color: #FFFFEF; */
	/* background-color: #fff; */
	background-color: #f4f1de;
	font-family: "GilSansMedium",  "KoPubDoTumPL", Arial, GilSansMedium, sans-serif;
    color: rgb(58, 58, 58);
	margin: 0;

}

footer {
	position: relative;
	top: -3px;
	background-color: #f4f1de;
	z-index: 10;
	height: 20vh;
	transition: height 1s;
	transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
}

footer:hover {
	height: 30vh;
  }

  h1 {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	font-weight: 400;
	animation: fade-in 1s ease-in-out;
}

p {
	animation: fade-in 2s ease-in-out;
}

.header_box,
.footer_box {
	width: 100vw;
	height: 100%;
	position: relative;
	margin: 0 auto;
	animation: fade-in 0.5s ease-in;
}

.footer-box {
	position: relative;
	top:-5px;
	box-sizing: border-box;
}

.content_box {
	position: relative;
	top: -1px;
	box-sizing: border-box;
	overflow-x: hidden;
    width: 320px;
    margin: 0 auto;
    position: relative;
	height: calc(100% + 3px);
	z-index: -1;
	animation: fade-in 0.5s ease-in;
}

ul,
ul li {
	list-style: none;
	margin: 0;
	padding-inline-start: 0;
}

input {
	background-color: transparent;
	line-height: 1.8em;
	padding-left: 8px;
	outline: none;
	border: 1px solid transparent;
	min-width: 90%;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

@media only screen and (min-width: 370px)  {
    .content_box {
		width: calc(100vw - 2em);
		border: 1px solid #20201e;
	}

}

@media only screen and (min-width: 450px) {
    .content_box {
		width: calc(100vw - 2em);
		border: 1px solid #20201e;

	}

	.content_box {
		border: 1px solid #20201e;
	}
}

@media only screen and  (min-width: 620px) {
    .content_box {
		width: calc(100vw - 2em);
		border: 1px solid #20201e;
	}

	.content_box {
		border: 1px solid #20201e;
	}
}

@media only screen and (min-width: 768px) {
	.header_box,
	.footer_box,
	.content_box {
        width:729px
	}

	.content_box {
		border: none;
	}

	.mobile_hidden {
		display: display !important;
	}
}

@media only screen and (max-width: 768px) {
	input {
		width: calc(100vw - 4em);
	}
}

@media only screen and (min-width: 992px) {
	.header_box,
	.footer_box,
	.content_box  {
        width: 970px
	}
}


@media only screen and (min-width: 1024px) {
	.header_box,
	.footer_box,
	.content_box  {
        width:1000px
	}
}


@media only screen and (min-width: 1120px) {
	.content_box,
	.header_box,
	.footer_box  {
        width:1120px
	}


}

@media only screen and (min-width: 1121px) {
	.content_box,
	.header_box,
	.footer_box  {
		width:1120px;
	}


}


@media (min-width: 768px) {
    .expandable {
        position:absolute;
        bottom: 80px
	}

}

@media (min-width: 1024px) {
    .expandable {
        width:100%;
        bottom: 50px;
        height: 260px
	}
}

